html
  head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
    integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    style
        include ../css/styles.css
    script 
        include ../scripts/utilities.js
  body
    h1 Add your favorite Pokemons!
    form(action='/addPokemon')
      p
        input(name='pokemonName', value='', type='text')
      input(value='Submit', type='submit').btn.btn-warning
    if badQ
        p Pokemon does not exist
    else 
        p
    p= "Current weight " + weight 
    div.row.pokeRow
        for poke in currPokemons
            div.col
                div.card(style="width: 200px;")
                    img(src=poke.pic).card-img-top
                    div.card-body
                        h4.card-title= poke.name
                        p.card-text= "Experience: " + poke.exp
                        p.card-text= "Height: " + poke.height
                        p.card-text= "Weight: " + poke.weight
                        form(action='/deletePokemon', method="post")
                            button() Delete
        else
            p